<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.spookystoriesinc.spookystories"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/player_characterdown"
        android:label="SoulSurvivor" >
        
        <activity
            android:screenOrientation="landscape"
            android:label="SoulSurvivor"
            android:name="nl.spookystoriesinc.coolgame.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/book"
            android:screenOrientation="landscape"
            android:label="Book"
            android:name="nl.spookystoriesinc.coolgame.TekstOverlayActivity"
            ></activity>
         <activity
            android:icon="@drawable/player_characterdown"
            android:screenOrientation="landscape"
            android:label="MainMenu"
            android:name="nl.spookystoriesinc.coolgame.MainMenuActivity"
            ></activity>
         <activity
            android:icon="@drawable/player_characterdown"
            android:screenOrientation="landscape"
            android:label="GameOver"
            android:name="nl.spookystoriesinc.coolgame.GameOverScreenActivity"
            ></activity>
    </application>

</manifest>